* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: rgb(23, 164, 252);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 16px;
    gap: 40px;
    box-sizing: border-box;
}

.photo {
    background-color: white;
    height: 30px;
    width: 30px;
    grid-row: 1;
}

.little-photo {
    background-color: white;
    height: 15px;
    width: 15px;
    grid-column: 1;
    place-self: center;
}

.little-photo-dark {
    background-color: black;
    height: 15px;
    width: 15px;
}

.sidebar-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.photo {
    place-self: center;
}

.sidebar-header-text {
    justify-self: start;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.sidebar-buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.sidebar .button {
    color: white;
}

.sidebar-buttons2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 16px;
    box-shadow: 2px 2px 2px grey;
}

.header-row1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    align-items: center;
    column-gap: 5px;
}

.header-row1 .little-photo-dark {
    justify-self: end;
}


.header-row2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.greeting {
    /* max-width: 200px;*/
    display: flex;
    flex-direction: column;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px;
    height: 100vh;
    min-height: 0;
    background-color: lightgrey;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    min-height: 0;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcement-subsection {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.announcement-subsection .subsection-cards {
    display: grid;
}


.trending {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.trending .subsection-cards {
    display: grid;
}

.searchbar input[type="text"] {
    border-radius: 10px;
    width: 100%;
    background-color: lightgrey;
    border: none;
    padding-left: 10px;
}

.header-row2 button {
    border-radius: 10px;
    background-color: rgb(23, 164, 252);
}

.header-row2 .little-photo-dark {
    place-self: center;
}

.username {
    place-self: center;
}

.projects .project-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    height: 100vh;
}

.card-container .card {
    background-color: white;
}

.project-title {
    align-self: end;
}

.card-container .card {
    border-radius: 3px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.subsection-cards div {
    background-color: white;
}

