* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: rgb(23, 164, 252);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 16px;
    gap: 40px;
    box-sizing: border-box;
}

.photo {
    background-color: white;
    height: 30px;
    width: 30px;
    grid-row: 1;
}

.little-photo {
    background-color: white;
    height: 15px;
    width: 15px;
    grid-column: 1;
    place-self: center;
}

.little-photo-dark {
    background-color: black;
    height: 15px;
    width: 15px;
}

.sidebar-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.photo {
    place-self: center;
}

.sidebar-header-text {
    justify-self: start;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.sidebar-buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.sidebar .button {
    color: white;
}

.sidebar-buttons2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-row1 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.header-row2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr auto 1fr 1fr 1fr;
}

.greeting {
    /* max-width: 200px;*/
    display: flex;
    flex-direction: column;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 1fr, repeat(3, 2fr);
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(4, 1fr)
}

