@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto';
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: rgb(23, 164, 252);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 16px;
    gap: 40px;
    box-sizing: border-box;
}

.photo {
    background-color: white;
    height: 30px;
    width: 30px;
    grid-row: 1;
}

.little-photo {
    background-color: white;
    height: 15px;
    width: 15px;
    grid-column: 1;
    place-self: center;
}

.little-photo-dark {
    background-color: black;
    height: 15px;
    width: 15px;
}

.sidebar-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.photo {
    place-self: center;
}

.sidebar-header-text {
    justify-self: start;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.sidebar-buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.sidebar .button {
    color: white;
}

.sidebar-buttons2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 16px;
    box-shadow: 2px 2px 2px grey;
}

.header-row1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    align-items: center;
    column-gap: 5px;
}

.header-row1 .little-photo-dark {
    justify-self: end;
}


.header-row2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.greeting {
    /* max-width: 200px;*/
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 16px;
    height: 100vh;
    min-height: 0;
    background-color: lightgrey;
    column-gap: 16px;
}

.projects {
    display: grid;
    grid-template-rows: 30px 10fr;
    min-height: 0; /* this stops the announcements section from overflowing for some reason... */
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
}

.announcement-subsection {
    display: grid;
    grid-template-rows: 30px 10fr;
}

.announcement-subsection .subsection-cards {
    display: grid;
}


.trending {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.trending .subsection-cards {
    display: grid;
}

.searchbar input[type="text"] {
    border-radius: 10px;
    width: 100%;
    background-color: lightgrey;
    border: none;
    padding-left: 10px;
}

.header-row2 button {
    border-radius: 10px;
    background-color: rgb(23, 164, 252);
}

.header-row2 .little-photo-dark {
    place-self: center;
}

.username {
    place-self: center;
}

.projects .project-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    min-height: 0;
}

.card-container .card {
    background-color: white;
    min-height: 0; /* this got the projects div to fit inside main-content div (aka parent) */
    box-shadow: /*inset 5px 0 gold,*/ 2px 2px 2px -2px grey;
    /* might have to use pseudo-element ::before instead of box-shadow
    for the gold bar; otherwise, box-shadow gets rounded, which is NOT shown
    in design */
    /* https://stackoverflow.com/questions/57739144/straight-css-inset-shadow-with-border-radius */
    /* padding: 1em;*/
    display: grid;
    grid-template-columns: 10px 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.card-main {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    min-height: 0;
}
/*.card::before {
    the padding messes with this
    for that reason, may need to use absolute positioning */
    /* create a wrapper around the card
    make grid container
    2 columns? 1st column is the shadow/border 
    content: "";
    display: block;
    width: 10px;
}*/

.project-title,
.subsection-header {
    font-weight: bold;
    align-self: end;
    padding-bottom: 5px;
}


.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

.subsection-cards div {
    background-color: white;
}

.header-button {
    color: white;
    border: none;
}

.card-title {
    font-weight: bold;
    grid-column: 2 / -1;
}

.card p {
    grid-column: 2 / -1;
}

.icon-container { 
    grid-column: 2 / -1;
}

.card-sidebar { 
    background-color: gold;
    grid-column: 1;
    grid-row: 1 / -1;
}